## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [9]:
# 1) Seu código aqui
df_mat['Perc_acertos'] = (df_mat['Qt_acertos'].sum() / 24) * 100

df_por['Perc_acertos'] = (df_por['Qt_acertos'].sum() / 18) * 100

df_geo['Perc_acertos'] = (df_geo['Qt_acertos'].sum() / 8) * 100

df_ing['Perc_acertos'] = (df_ing['Qt_acertos'].sum() / 8) * 100

df_his['Perc_acertos'] = (df_his['Qt_acertos'].sum() / 8) * 100

df_fis['Perc_acertos'] = (df_fis['Qt_acertos'].sum() / 12) * 100

df_qui['Perc_acertos'] = (df_qui['Qt_acertos'].sum() / 12) * 100

In [12]:
# 2) Seu código aqui
df_total_acertos = pd.DataFrame({
    'Total_acertos':
    df_mat['Qt_acertos'] +
    df_por['Qt_acertos'] +
    df_geo['Qt_acertos'] +
    df_ing['Qt_acertos'] +
    df_his['Qt_acertos'] +
    df_fis['Qt_acertos'] +
    df_qui['Qt_acertos'] 
})
df_total_acertos.head()

   Total_acertos
0             35
1             48
2             50
3             32
4             30

In [15]:
# 3) Seu código aqui
df_total_acertos["Percentual_geral"] = (df_total_acertos["Total_acertos"] / 90) * 100
df_total_acertos.head()

   Total_acertos  Percentual_geral
0             35         38.888889
1             48         53.333333
2             50         55.555556
3             32         35.555556
4             30         33.333333

In [20]:
# 4) Seu código aqui
aprovados = (df_total_acertos['Total_acertos'] > 45).sum()
aprovados

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [39]:
# seu código aqui
Cond_Desqualificados = (
    (df_mat['Qt_acertos'] == 0) | 
    (df_fis['Qt_acertos'] == 0) |
    (df_qui['Qt_acertos'] == 0) 
)
desqualificados = df_total_acertos[Cond_Desqualificados]
desqualificados.head()

    Total_acertos  Percentual_geral
3              32         35.555556
6              29         32.222222
10             31         34.444444
12             42         46.666667
14             31         34.444444

In [43]:
len(desqualificados)

23

In [51]:
media_his = df_his.loc[Cond_Desqualificados, "Qt_acertos"].mean()
media_geo = df_geo.loc[Cond_Desqualificados, "Qt_acertos"].mean()
print(f'A média em história é de: {media_his:.2f}')
print(f'A média em geografia é de: {media_geo:.2f}')

A média em história é de: 3.43
A média em geografia é de: 3.22

In [53]:
Cond_aprovado = df_total_acertos['Total_acertos'] > 45
N_Des = (
    (df_mat['Qt_acertos'] > 0) | 
    (df_fis['Qt_acertos'] > 0) |
    (df_qui['Qt_acertos'] > 0) 
)
df_segunda_fase = df_total_acertos[Cond_aprovado & N_Des]
df_segunda_fase.head()

   Total_acertos  Percentual_geral
1             48         53.333333
2             50         55.555556
5             50         55.555556
7             49         54.444444
8             58         64.444444

In [54]:
len(df_segunda_fase)

31

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [38]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-5ed92752-6121-474f-ab37-816918134afc.c000.csv'

In [61]:
# 1) Sua solução aqui
df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')
len(df)

169071

In [63]:
# 2)
total_pacientes = df['paciente_id'].nunique()
total_pacientes

120517

In [69]:
# 3)
pri_dose_pacientes = df[df['vacina_descricao_dose'].str.contains('1ª', na = False)]['paciente_id'].nunique()
pri_dose_pacientes

119713

In [ ]:
# 3) solução alternativa

In [73]:
# 4)
pacientes_menores = df[df['paciente_idade'] < 18]['paciente_id'].nunique()
pacientes_menores

47

In [90]:
# 5)
estabelecimentos = df['estabelecimento_valor'].nunique()
estabelecimentos

102

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [93]:
# 1)
df_copy = df[df["paciente_idade"] < 18].copy()
df_copy.head()

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
1567,fdca313f-b348-422d-94d4-f2c66a87868c-i0b0,f5e6b8c44f7c4d13a87c582def5e8d460435b02f26af8c...,17,2003-07-18,F,4,AMARELA,120025.0,10.0,EPITACIOLANDIA,...,213VCD003W,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-12,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-13T16:16:42.000Z,NaN
6250,b7431955-1faa-4c1e-9246-7c1e7b8bb3cb-i0b0,e1a45c07e3c393d5f0eccf4204a7ceab338f4f06696ecb...,16,2004-05-18,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,200278,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-29,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-06T14:02:07.000Z,NaN
9569,fdb8d3b6-14d9-4bcc-9cfe-acd46b4a317a-i0b0,7cf3b238383a70eeb26841c01817737c9706d5b231e8c2...,17,2004-01-23,F,99,SEM INFORMACAO,120020.0,10.0,CRUZEIRO DO SUL,...,213VCD042Z,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-05-15,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-05-18T03:17:02.000Z,NaN
11338,647e2301-3ba4-463a-8d1e-2b6f38a4d99e-i0b0,53eb7fed5faa26ad17ce21ee378f28e25399ab7e90bc05...,17,2003-05-04,F,4,AMARELA,120030.0,10.0,FEIJO,...,4120Z004,FUNDACAO OSWALDO CRUZ,Organization/33781055000135,2021-02-09,1ª Dose,85,Vacina Covid-19 - Covishield,Novo PNI,2021-02-09T22:08:13.000Z,NaN
15144,7f469e03-bece-49d0-bebc-33ad98e27f54-i0b0,dbaa6420d8a815158387668d0a59a19cf2bb63958e35d1...,16,2004-08-22,F,5,INDIGENA,120035.0,10.0,MARECHAL THAUMATURGO,...,202010028,FUNDACAO BUTANTAN,Organization/61189445000156,2021-01-28,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-02-09T19:26:03.000Z,NaN

In [97]:
# 2)
lista_colunas = df_copy.columns
lista_colunas

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [98]:
# 3)
contagem = df_copy['vacina_categoria_nome'].value_counts()
contagem

vacina_categoria_nome
Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: count, dtype: int64

In [99]:
# 4)
colunas_estabelecimento = [col for col in lista_colunas if 'estabelecimento' in col.lower()]
colunas_estabelecimento

['estabelecimento_valor',
 'estabelecimento_razaosocial',
 'estabelecimento_municipio_codigo',
 'estabelecimento_municipio_nome',
 'estabelecimento_uf']

In [100]:
# 5)
df_estabelecimento = df_copy.loc[:, colunas_estabelecimento]

In [101]:
# 6)
df_estabelecimentos_unicos = df_estabelecimento.drop_duplicates()
df_estabelecimentos_unicos

,estabelecimento_valor,estabelecimento_razaosocial,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120035,MARECHAL THAUMATURGO,AC
17153,6748759,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120030,FEIJO,AC
18361,6308740,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120039,PORTO WALTER,AC
18608,2001748,PREFEITURA MUNICIPAL DE PORTO WALTER,120039,PORTO WALTER,AC
20204,6917682,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120020,CRUZEIRO DO SUL,AC
21119,6428940,PREFEITURA MUNICIPAL DE ASSIS BRASIL,120005,ASSIS BRASIL,AC
29127,6612385,PREFEITURA MUNICIPAL DE TARAUACA,120060,TARAUACA,AC
57405,9648968,DISTRITO SANITARIO ESPECIAL DE SAUDE INDIGENA ...,120034,MANOEL URBANO,AC
61131,6430201,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA,120032,JORDAO,AC
68290,6955525,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,120033,MANCIO LIMA,AC
69882,5336171,SECRETARIA DE ESTADO DE SAUDE DO ACRE,120020,CRUZEIRO DO SUL,AC
70881,6697151,MINISTERIO DA SAUDE,120050,SENA MADUREIRA,AC
101402,3323307,PREFEITURA MUNICIPAL DE PORTO ACRE,120080,PORTO ACRE,AC
140895,7123043,PREFEITURA MUNICIPAL DE JORDAO,120032,JORDAO,AC